.wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* background-color: green; */
  width: 100px;
  height: 100px;
  display: block;
}

.wrapper:hover > .left-bracket-wrapper {
  transform: translateX(-100px);
}

/* .content { */
/* width: 100%;
  height: 100%;
  position: absolute;
  background-image: yellow;
} */

.left-bracket-wrapper,
.right-bracket-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-color: red;
  transition: all ease-out 0.3s;
}

.left-bracket-wrapper {
  left: 0;
}

.right-bracket-wrapper {
  right: 0;
}

.left-bracket,
.right-bracket {
  position: absolute;
  width: 100%;
  height: 100%;
}

.left-bracket {
  background-color: black;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: url('image.png');
}

.right-bracket {
  background-color: blue;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-image: url('image.png');
}
